@charset "utf-8";

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}

	.logoImage
{

  width: 700px;
  height: 700px;


}


.comingSoon {
  color: var(--type);
  padding-top: 20px;
  overflow: hidden;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  font-weight: 800;
  animation: typing 5s steps(90, end) infinite, blink-caret 1s step-end infinite;
  width: 100%;
}

  
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.kickstarterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--type);
  color: var(--primary);
  text-decoration: none;
  border-radius: 8px;
  /* border: 2px solid var(--primary);  */
  width: 200px;
  height: 5ch;
}

.kickstarterButton:hover {
  background-color: var(--primary);
  color: var(--type);
  border-color: var(--type);
}

@media screen and (max-width: 750px){
  .outerContainer{
    display: flex;
  }
  .logoImage {
    width: 50vh;
    height: auto;

  }
}
  



