@charset "utf-8";

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content:flex-start; */
  /* width: fit-content; */
  /* height: 100vh; */
  flex-direction: column;
  

}

	.logoImage
{

  width: 700px;
  height: 700px;


}


.comingSoon {
  color: var(--type);
  padding-top: 20px;
  overflow: hidden;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  font-weight: 800;
  animation: typing 10s steps(90, end) infinite, blink-caret 1s step-end infinite;
  width: 100%;
}

  
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.kickstarterButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--type);
  color: var(--primary);
  text-decoration: none;
  border-radius: 4px;
}

.kickstarterButton:hover {
  background-color: #45a049;
}



