@charset "utf-8";



	.NormalCharacterStyle
{
	object-fit: contain;
  

}
/* .NormalCharacterStyle2
{
	font-family : Helvetica;
	font-weight : bold;
	font-size : 31px;
	line-height : 30px;
	letter-spacing : 1.24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Helvetica;
	font-weight : bold;
	font-size : 22px;
	line-height : 30px;
	letter-spacing : 0.88px;
	color : #000000;
	color : rgb(0, 0, 0);
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
