:root {
  --primary:#f1c103;
  --background: #414141;
}


* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: var(--background);
}

.main {
  width: 100%;
  height: 100vh;
}

/* video {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

 .logoImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0vh;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  
}

.content {
  position: absolute;
   width: 100%; 
  height: 100%;
  top: 25vh; 
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  color: var(--primary);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4) ;
}

.welcomeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary);
  font-size:x-large;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid var(--primary); 
  width: 300px;
  height: 5ch;
  text-decoration: none;
  
  
}

a.button-class {
  text-decoration: none;
}

.welcomeButton:hover {
  border: 2px solid transparent;
  background-color: var(--primary);
  color: var(--background);
  border-color: var(--primary);
  cursor: pointer;
  text-decoration: none;
  
}

.logoImageHome {
  width: 200px;
  height: 200px;
}

/* .homeContainer {
  /* background-color: var(--background); */
  /* display: flex; */
  /* justify-content:center 
} */

.Navbar {
  color: var(--primary);
  text-decoration: none;
  
}